body{
  background-color: #222;
  color: #fff;
  text-align: center;
  font-family: Oswald;
  font-size: 1.4rem;
}
h1,h2,h3{
  font-weight: 200; 
}
h2,h3{
  margin: 0;
}
.cards{
  display: flex;
  flex-wrap: wrap;
}